{% extends "base.html" %}
{% block title %}Inicio · PIPS{% endblock %}
{% block content %}
<div class="hero">
    <h1>Panel principal</h1>
    <p>Elige una opción para continuar.</p>
    <div class="actions">
      <a class="btn" href="{{ url_for('submit') }}">Ingresar resultados</a>
      <a class="btn outline" href="{{ url_for('stats') }}">Ver estadísticas</a>
    </div>
</div>

<div id="toast-container"></div>
<audio src="{{ url_for('static', filename='audio/stamp_sound.mp3') }}" id="stamp_audio"></audio>

<script>
function playAudio(){
    document.getElementById("stamp_audio").play();
}

function showToast(message, flag, stamp_name) {
    return new Promise((resolve) => {   

        const container = document.getElementById("toast-container");

        const toast = document.createElement("div");
        toast.className = "toast";

        const img = document.createElement("img");

        let imgFile = '';
        if (flag === 1) imgFile = 'images/stamps/Easy_Game_Stamp_Base.webp';
        if (flag === 2) imgFile = 'images/stamps/Medium_Game_Stamp_Base.webp';
        if (flag === 3) imgFile = 'images/stamps/Hard_Game_Stamp_Base.webp';
        if (flag === 4) imgFile = 'images/stamps/Extreme_Game_Stamp_Base.webp';

        img.src = "{{ url_for('static', filename='') }}" + imgFile;
        img.alt = "Estampilla";
        img.className = "toast-img";

        const textContainer = document.createElement("div");
        textContainer.className = "toast-texts";

        const text = document.createElement("span");
        text.textContent = message;

        const stampText = document.createElement("span");
        stampText.textContent = stamp_name;
        stampText.className = "toast-stamp-name";
        stampText.style.display = "block";

        textContainer.appendChild(text);
        textContainer.appendChild(stampText);

        toast.appendChild(img);
        toast.appendChild(textContainer);

        img.onload = () => {
            container.appendChild(toast);
            playAudio();

            // Animación de entrada
            setTimeout(() => {
                toast.style.transform = "translateY(0)";
            }, 50);

            // Animación de salida
            setTimeout(() => {
                toast.style.transform = "translateY(-120%)";
                setTimeout(() => {
                    container.removeChild(toast);
                    resolve();  
                }, 500);

            }, 2500);
        };

    });
}

async function runStampQueue() {
    {% for i in range(won_stamps|length) %}
        await showToast(
            'Stamp Earned!',
            {{ won_stamps[i] }},
            {{ won_stamp_names[i] | tojson }}
        );
    {% endfor %}
}

runStampQueue();
</script>

{% endblock %}
