
{% extends "base.html" %}
{% block title %}Estampillas · PIPS{% endblock %}
{% block content %}
<!-- {% if g.user.username != 'ilopez15' %}
<div class="overlay">
    <div class="maintenance">
        <div class="maintenance-text">
            Our servers are currently under<br>maintenance. Please try again soon.
        </div>
        
        <button class="cp-orange" onclick="location.href='{{ url_for('dashboard') }}'">Okay</button>
    </div>
</div> 
{% endif %} -->
<audio autoplay loop>
    <source src="{{ url_for('static', filename='audio/cp.mp3') }}" type="audio/mp3">
    Tu navegador no soporta la etiqueta de audio.
</audio>
<!-- 
<div class="container-estampillas-wrapper">
  <div class="postit-novedades">
     Aviso: La lógica de desbloqueo de estampillas aún no está disponible. Estamos trabajando en ello.
  </div>
</div> -->


<h1>Estampillas</h1>
<div class="container_estampillas">
    {% for stamp in stamps %}
    <div class="stamp {% if stamp.id not in user_stamps %}locked{% endif %}"
        data-info="{{ stamp.description }}" data-title="{{ stamp.name }}">

        <img
        src="{{ url_for('static', filename='images/stamps/' ~ (stamp.image|trim) ~ '.webp') }}"
        alt="{{ stamp.name }}"
        loading="lazy"
        width="128" height="128"
        >
        <div class="tooltip-content">
        <span class="tooltip-title">{{ stamp.name }}</span>
        <span class="tooltip-text">{{ stamp.description }}</span>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
