
{% extends "base.html" %}
{% block title %}Crear cuenta · PIPS{% endblock %}
{% block content %}
<div class="overlay">
    <div class="maintenance">
        <div class="maintenance-text">
            This page is currently under<br>maintenance. Please try again soon.
        </div>
        
        <button class="cp-orange" onclick="location.href='{{ url_for('index') }}'">Okay</button>
    </div>
</div> 

  <div class="card">
    <h1>Crear cuenta</h1>
    <form method="post" class="grid">
      <label>Usuario
        <input type="text" name="username" placeholder="elige_un_usuario" required>
      </label>
      <label>Contraseña
        <input type="password" name="password" placeholder="••••••••" required>
      </label>
      <button type="submit">Registrar</button>
    </form>
  </div>
{% endblock %}
